.blog-summary {

  .blog-title {
    margin-bottom: 15px;
  }

  .blog-author {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blog-date {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blog-description {

  }
}
