// ----------------------------------------------------------------------------
// _blog.scss (assets/scss/pages/_blog.scss)
//
// Style for the following:
//   * list.html (layouts/blog/single.html)
//   * single.html (layouts/blog/single.html)
//   * summary.html (layouts/blog/summary.html)
// ----------------------------------------------------------------------------

// Variables
$lighter: lighten($primary, 20%);

.blog {
  p {
    color: $primary;
  }
}

.blog-single {
  .blog-date {
    color: $lighter;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .blog-author {
    color: $lighter;
    font-size: 14px;
    margin-bottom: 25px;
    margin-left: 3px;
  }
}

.blog-summary {
  .blog-title {
    margin-bottom: 15px;
  }

  .blog-date {
    color: $lighter;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .blog-author {
    color: $lighter;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 3px;
  }

  .blog-description {
    p {
      margin-left: 3px;
      margin-bottom: 10px;
    }
  }
}
