// Color Scheme
//
// The Infrable.io color scheme is loosely based off of the gruvbox color scheme:
//   * https://github.com/morhetz/gruvbox
//
// Primary: Main menu, hamburger, buttons, header, type (titles), footer
// Secondary: Call to action, features, team
// Tertiary: Type (content)
// Quaternary: Blockquotes
$primary:    #1d2021; // - (29,32,33)
$secondary:  #ebdbb2; // - (235,219,178)
$tertiary:   #928374; // - (146,131,116)
$quaternary: #282828; // - (40,40,40)
$black:      #000000; // Black (0,0,0)
$white:      #ffffff; // White (255,255,255)

// Fonts
// Google fonts are added in `layouts/partials/google-fonts.html`
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Playfair Display', serif, -apple-system;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;

// Color for sub footer
//   * layouts/partials/sub-footer.html
//   * assets/scss/components/_sub-footer.scss
$sub-footer-color: $white;
$sub-footer-background-color: $black;

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/features';
@import 'components/social';

// Pages
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/services';
@import 'pages/team';

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}
