// Color Scheme
//
// The Infrable.io color scheme is loosely based off of the gruvbox color
// scheme:
//   * https://github.com/morhetz/gruvbox
//
// Primary: main menu, hamburger, buttons, header, type (titles), footer
// Secondary: call to action, features, team
// Tertiary: type (content)
// Quaternary: blockquotes
$primary:    #1d2021; // - (29,32,33)
$secondary:  #ebdbb2; // - (235,219,178)
$tertiary:   #928374; // - (146,131,116)
$quaternary: #282828; // - (40,40,40)
$black:      #000000; // Black (0,0,0)
$white:      #ffffff; // White (255,255,255)

// Fonts
// Google fonts are added in `layouts/partials/google-fonts.html`
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Roboto Mono', monospace, -apple-system;
$font-family-monospace: 'Roboto Mono', monospace, -apple-system;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

// Color for footer
//   * layouts/partials/footer.html
//   * assets/scss/components/_footer.scss
$footer-color: $white;
$footer-background-color: $primary;

// Color for sub footer
//   * layouts/partials/sub-footer.html
//   * assets/scss/components/_sub-footer.scss
$sub-footer-color: $white;
$sub-footer-background-color: $black;

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
// Add the following line to import the entire Bootstrap library:
//
// @import 'bootstrap/bootstrap';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/font';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/services';
@import 'components/features';
@import 'components/socials';

// Pages
@import 'pages/404';
@import 'pages/about';
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/products';
@import 'pages/services';
@import 'pages/team';
