// ----------------------------------------------------------------------------
// _call.scss (assets/scss/components/_call.scss)
//
// Style for call.html (layouts/partials/call.html)
//
// For CSS and Sass documentation, see the following:
//   * docs/css.md
//   * docs/sass.md
//
// NOTE: The following can be used to add shadow:
//
//   box-shadow: none|h-offset v-offset blur spread color
// ----------------------------------------------------------------------------

.call {
  color: $primary;
  background-color: $secondary;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  // NOTE: z-index only works on positioned elements (absolute, relative,
  // fixed, or sticky) and flex items (elements that are direct children of
  // display:flex elements).
  //
  // The call to action is given a z-index of 1 (greater than the intro image),
  // so that the image does not hide it.
  position: relative;
  z-index: 1;

  .call-box-left {
    // Grow one times faster than the other flex items.
    flex: 1 0 auto;
    padding: 20px;
    justify-content: center;
  }

  .call-box-right {
    // Grow zero times faster than the other flex items.
    flex: 0 0 auto;
    padding: 20px;
  }

  .call-email {

  }

  .call-phone {
    // Add space between "Email" (top) and "Phone" (bottom)
    margin-top: 5px;
  }

  strong {
    font-weight: bold;
  }
}
