// ----------------------------------------------------------------------------
// _content.scss (assets/scss/components/_content.scss)
// ----------------------------------------------------------------------------

.content {
  a {
    text-decoration: underline;
  }

  img {
    height: auto;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  strong {
    font-size: bold;
  }

  em {
    font-style: italic;
  }

  p {
    color: $tertiary;
    font-family: $font-family-base;
    line-height: 1.56;
    text-align: justify;
    text-justify: auto;
  }

  h1 {
    font-size: 34px;
    font-weight: normal;
    font-family: $font-family-base;
    line-height: 1.26;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
    font-weight: normal;
    font-family: $font-family-base;
    line-height: 1.4;
    margin-top: 30px;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    font-family: $font-family-base;
    line-height: 1.4;
    margin-top: 30px;
  }

  ul,
  ol {
    margin-bottom: 20px;

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    color: $primary;
    line-height: 1.56;
    margin-bottom: 5px;
    margin-left: 50px;
  }

  hr {
    border: none;
    border-bottom: 1px solid $secondary;
  }

  table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    th,
    td {
      border: 1px solid $secondary;
      vertical-align: top;
      padding: 5px;
    }

    thead th {
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid $secondary;
      vertical-align: bottom;
    }

    tbody + tbody {
      border-top: 1px solid $secondary;
    }
  }

  blockquote {
    color: $tertiary;
    border-left: 0.25em solid $quaternary;
    padding: 0 1em;
  }
}
