// ----------------------------------------------------------------------------
// _features.scss (assets/scss/components/_features.scss)
//
// Style for the following:
//   * features.html (layouts/partials/features.html)
//
// For CSS and Sass documentation, see the following:
//   * docs/css.md
//   * docs/sass.md
// ----------------------------------------------------------------------------

// Variables
$white: #ffffff;

.feature {
  color: $primary;
  background-color: $white;
  border: 1px solid $secondary;
  border-radius: 3px;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .feature-image {
    // All flex items grow and shrink at the same rate.
    flex: 0 0 auto;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
  }

  img {
    height: auto;
    width: 100%;
  }

  .feature-title {
    font-weight: 400;
  }

  .feature-content {
    margin-top: auto;
    margin-bottom: 0;
  }
}
