// ----------------------------------------------------------------------------
// _header.scss (assets/scss/components/_header.scss)
//
// Style for header.html (layouts/partials/header.html)
//
// For CSS and Sass documentation, see the following:
//   * docs/css.md
//   * docs/sass.md
// ----------------------------------------------------------------------------

// Variables
$white: #ffffff;

.header {
  color: $primary;
  background-color: $white;
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.header-absolute {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
