// ----------------------------------------------------------------------------
// _header.scss (assets/scss/components/_header.scss)
//
// Style for header.html (layouts/partials/header.html)
//
// For CSS and Sass documentation, see the following:
//   * docs/css.md
//   * docs/sass.md
// ----------------------------------------------------------------------------

// Variables
$white: #ffffff;

.header {
  color: $primary;
  background-color: $white;
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.header-absolute {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

%logo {

  a {
    display: block;
  }

  img {
    width: auto;
  }
}

// In order to control the logo that is displayed, we leverage Bootstrap
// breakpoints.
//
// Documentation: https://getbootstrap.com/docs/5.0/layout/breakpoints

// On devices 576px and up (≥576px), show desktop logo.
.logo-desktop {
  @extend %logo;
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

// On devices less than 576px (<576px), show mobile logo.
.logo-mobile {
  @extend %logo;
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
