// Style for page introduction.

.intro {

  .container {
  }

  // NOTE: Add bottom margin in order to provide space for image.
  .container-absolute {
    margin-bottom: 150px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0px;
    }
  }

  align-items: center;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 60px;

  @include media-breakpoint-up(md) {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .under-construction {

    width: 100%;

    h1, h2, p {
      width: 100%;
      display: block;
      text-align: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;

      // xs: small devices (landscape phones, 576px and up)
      @include media-breakpoint-up(xs) {
        width: 95%;
      }

      // sm: small devices (landscape phones, 576px and up)
      @include media-breakpoint-up(sm) {
        width: 85%;
      }

      // md: medium devices (tablets, 768px and up)
      @include media-breakpoint-up(md) {
        width: 75%;
      }

      // lg: large devices (desktops, 992px and up)
      @include media-breakpoint-up(lg) {
        width: 60%;
      }

      // xl: x-large devices (large desktops, 1200px and up)
      @include media-breakpoint-up(xl) {
        width: 50%;
      }
    }
  }

  h1 {
    color: $black;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 48px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }

  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $tertiary;

    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
