// ----------------------------------------------------------------------------
// _intro.scss (assets/scss/components/_intro.scss)
//
// Style for the following:
//   * intro.html (layouts/partials/intro.html)
//
// For CSS and Sass documentation, see the following:
//   * docs/css.md
//   * docs/sass.md
// ----------------------------------------------------------------------------

.intro {
  padding-top: 60px;
  padding-bottom: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include media-breakpoint-up(md) {
    padding-top: 125px;
    padding-bottom: 75px;
  }

  .container {

  }

  h1 {
    color: $black;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      font-size: 48px;
      width: 80%;
    }

    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }

  h2 {
    color: $black;
    font-size: 1.2rem;
    font-family: $font-family-base;
    line-height: 1.4;
    width: 80%;
    margin-bottom: 30px;
  }

  p {
    color: $tertiary;
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}

.intro-image {
  height: auto;
  width: 100%;
  margin-top: 40px;

  // NOTE: Breakpoints are customizable widths that determine how your
  // responsive layout behaves across device or viewport sizes in Bootstrap.
  //
  // See the Bootstrap documentation for details:
  //   * https://getbootstrap.com/docs/5.0/layout/breakpoints

  // sm: small devices (landscape phones, 576px and up)
  @include media-breakpoint-up(sm) {}

  // md: medium devices (tablets, 768px and up)
  @include media-breakpoint-up(md) {
  }

  // lg: large devices (desktops, 992px and up)
  @include media-breakpoint-up(lg) {
  }

  // xl: x-large devices (large desktops, 1200px and up)
  @include media-breakpoint-up(xl) {
  }
}

// Hide image on mobile
.intro-image-hide-mobile {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}
