// ----------------------------------------------------------------------------
// _main-menu-mobile.scss (assets/scss/components/_main-menu-mobile.scss)
//
// Style for the following:
//   * main-menu-mobile.html (layouts/partials/main-menu-mobile.html)
//
// For CSS and Sass documentation, see the following:
//   * docs/css.md
//   * docs/sass.md
// ----------------------------------------------------------------------------

.main-menu-mobile {
  background-color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  // Fix CSS opacity transition issue on Google Chrome:
  //
  // Force Google Chrome to hardware accelerate the transition using the
  // following:
  -webkit-transform: translateZ(0);

  ul {
    font-size: 30px;
    font-family: $font-family-heading;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 0;

    li {
      display: block;
      position: relative;
      opacity: 0;
      padding: 10px;

      a {
        color: $white;
        display: block;
        position: relative;
        text-decoration: none;
        overflow: hidden;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &.open {
    height: 100%;
    opacity: 0.9;
    visibility: visible;
    z-index: 20;

    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;

      &:nth-of-type(2) {
        animation-delay: 0.40s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.50s;
      }

      &:nth-of-type(5) {
        animation-delay: 0.55s;
      }

      &:nth-of-type(6) {
        animation-delay: 0.60s;
      }
    }
  }
}

@keyframes fadeInRight {

  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

.lock-scroll {
  overflow: hidden;
}
