body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
  }
}

// Style for custom 404 page (layouts/404.html)
.page-not-found {
  display: flex;
  margin-top: 20px;

  img {
    min-width: 250px;
    max-width: 500px;
    flex: 1 0 0;
    margin: auto;
  }

  h1 {
    font-size: 32px;
  }
}

.strip {
  background: white;
  background-repeat: no-repeat;
}

.strip-primary {
  background-color: $primary;
}

.strip-secondary {
  background-color: $secondary;
}

.strip-tertiary {
  background-color: $tertiary;
}
