// ----------------------------------------------------------------------------
// _sub-footer.scss (assets/scss/components/_sub-footer.scss)
//
// Style for the following:
//   * sub-footer.html (layouts/partials/sub-footer.html)
// ----------------------------------------------------------------------------

.sub-footer {
  color: $sub-footer-color;
  background-color: $sub-footer-background-color;
  padding-top: 15px;
  padding-bottom: 15px;

  @include media-breakpoint-up(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sub-footer-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    font-size: 14px;

    a {
      color: inherit;
      font-weight: bold;
    }
  }

  .socials {
    a:first-of-type {
      margin-left: -10px;
    }
  }
}
