// ----------------------------------------------------------------------------
// _title.scss (assets/scss/components/_title.scss)
//
// For CSS and Sass documentation, see the following:
//   * docs/css.md
//   * docs/sass.md
// ----------------------------------------------------------------------------

.title {
  color: $black;
  font-size: 48px;
  line-height: 1.2;

  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }
}
